.messagePageCont{
  max-width: 750px;
  margin: 0 auto;
  width: 100%;
  height: calc(100vh - 89px);
  overflow: auto;
  padding-right: 10px;
}
.messageContainer{
  /* border: 1px solid black; */
  min-height: calc(100vh - 136px);
}
.userMessageCont{
  display: flex;
  justify-content: flex-end;
}
.userMessageContent{
  padding: 10px 10px 10px 15px;
  background-color: #fff;
  border-radius: 15px;
  margin-bottom: 15px;
  max-width: 75%;
}
.assistantMessageCont{
  display: flex;
}
.assistantMessageContent{
  padding: 10px 10px 10px 15px;
  /* background-color: #fff; */
  border-radius: 15px;
  margin-bottom: 15px;
  /* max-width: 75%; */
}