.signinCont{
  display: flex;
  min-height: calc(100vh - 160px);
  align-items: center;
  justify-content: center;
}
.signinLeft{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.signinRight{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width:810px) {  
  .signinLeft{
    display: none;
  }
  .signinRight{
    width: 100%;
  }
}